.movies-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 12px 24px;
}
.ghost-button {
  align-self: flex-end;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  margin: 12px 24px 0px 12px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
}
.ghost-button:active {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.ghost-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.1s;
  text-decoration: none;
}
.ghost-button:focus {
  outline: 1px dotted transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}
.genre-container {
  width: 100%;
  overflow: hidden;
  padding: 0px 21px;
  box-sizing: border-box;
}
.genre-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 0px;
  width: 100%;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.genre-row::-webkit-scrollbar {
  display: none;
}
